<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .grafico {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="categorias">Categorías</a></li>
                <li><a href="costos">Costos</a></li>
                <li><a href="ingresos">Ingresos</a></li>
                <li><a href="proveedores">Proveedores</a></li>
            </ul>
        </aside>
        {% block content %}{% endblock %}
    </div>
</body>
</html>