.container {
    display: flex;
}

.sidebar {
    width: 15%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #1683cc, #5db2eb); /* Degradado azul */
    color: #ecf0f1; /* Color del texto */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar a {
    text-decoration: none;
    color: #ecf0f1; /* Color del texto */
    font-weight: bold;
    font-size: 16px;
}

.sidebar a:hover {
    color: #ffffff; /* Cambiar color al pasar el mouse */
}

.main-content {
    flex: 1;
    padding: 20px;
}

.grafico {
    margin-bottom: 20px;
}